NEXT_PUBLIC_API_URL=http://localhost:3000
NEXT_PUBLIC_OCI_ENV=dev

# Cognito (public — these are not secrets, but env-specific)
NEXT_PUBLIC_COGNITO_USER_POOL_ID=eu-central-1_XXXXXXXXX
NEXT_PUBLIC_COGNITO_CLIENT_ID=XXXXXXXXXXXXXXXXXXXX
NEXT_PUBLIC_COGNITO_DOMAIN=oci-platform-dev.auth.eu-central-1.amazoncognito.com
NEXT_PUBLIC_COGNITO_REGION=eu-central-1
